<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Dye-Nasty League Salary Cap
  </title>
  <link href="{{ url_for('static', filename='briggs.css') }}" rel="stylesheet"/>
 </head>
 <body>
  <header>
   <h1>
    DYE-NASTY LEAGUE SALARY CAP
   </h1>
   <p>
    Breakdown of Briggs' team's salary cap.
   </p>
  </header>
  <main>
   <section class="teams">
    <div class="function-buttons">
     <a href="/">
      <button>
       Home
      </button>
     </a>
     <a href="../rawdata.html">
      <button>
       Raw Data
      </button>
     </a>
    </div>
    <h2>
     <i>
      <u>
       <b>
        Briggs' Team
       </b>
      </u>
     </i>
    </h2>
   </section>
  </main>
  <table>
   <thead>
    <tr>
     <th>
      Roster #
     </th>
     <th>
      Name
     </th>
     <th>
      Postion
     </th>
     <th>
      Age
     </th>
     <th>
      Value
     </th>
    </tr>
   </thead>
   <tbody>
   </tbody>
  </table>
 </body>
</html>
