<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Dye-Nasty League Salary Cap
  </title>
  <link href="{{ url_for('static', filename='greer.css') }}" rel="stylesheet"/>
 </head>
 <body>
  <header>
   <h1>
    DYE-NASTY LEAGUE SALARY CAP
   </h1>
   <p>
    Breakdown of Greer's team's salary cap.
   </p>
  </header>
  <main>
   <section class="teams">
    <div class="function-buttons">
     <a href="/">
      <button>
       Home
      </button>
     </a>
     <a href="../rawdata.html">
      <button>
       Raw Data
      </button>
     </a>
    </div>
    <h2>
     <i>
      <u>
       <b>
        Greer's Team
       </b>
      </u>
     </i>
    </h2>
   </section>
  </main>
  <table>
   <thead>
    <tr>
     <th>
      Roster #
     </th>
     <th>
      Name
     </th>
     <th>
      Postion
     </th>
     <th>
      Age
     </th>
     <th>
      Value
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>
      1
     </td>
     <td>
      Christian McCaffrey
     </td>
     <td>
      RB
     </td>
     <td>
      28
     </td>
     <td>
      63
     </td>
    </tr>
    <tr>
     <td>
      2
     </td>
     <td>
      A.J. Brown
     </td>
     <td>
      WR
     </td>
     <td>
      27
     </td>
     <td>
      39
     </td>
    </tr>
    <tr>
     <td>
      3
     </td>
     <td>
      Nico Collins
     </td>
     <td>
      WR
     </td>
     <td>
      25
     </td>
     <td>
      25
     </td>
    </tr>
    <tr>
     <td>
      4
     </td>
     <td>
      DK Metcalf
     </td>
     <td>
      WR
     </td>
     <td>
      26
     </td>
     <td>
      21
     </td>
    </tr>
    <tr>
     <td>
      5
     </td>
     <td>
      Tee Higgins
     </td>
     <td>
      WR
     </td>
     <td>
      25
     </td>
     <td>
      17
     </td>
    </tr>
    <tr>
     <td>
      6
     </td>
     <td>
      Zamir White
     </td>
     <td>
      RB
     </td>
     <td>
      24
     </td>
     <td>
      16
     </td>
    </tr>
    <tr>
     <td>
      7
     </td>
     <td>
      Brian Robinson Jr.
     </td>
     <td>
      RB
     </td>
     <td>
      25
     </td>
     <td>
      12
     </td>
    </tr>
    <tr>
     <td>
      8
     </td>
     <td>
      Kyler Murray
     </td>
     <td>
      QB
     </td>
     <td>
      27
     </td>
     <td>
      10
     </td>
    </tr>
    <tr>
     <td>
      9
     </td>
     <td>
      Cole Kmet
     </td>
     <td>
      TE
     </td>
     <td>
      25
     </td>
     <td>
      5
     </td>
    </tr>
    <tr>
     <td>
      10
     </td>
     <td>
      Trey Benson
     </td>
     <td>
      RB
     </td>
     <td>
      22
     </td>
     <td>
      4
     </td>
    </tr>
    <tr>
     <td>
      11
     </td>
     <td>
      MarShawn Lloyd
     </td>
     <td>
      RB
     </td>
     <td>
      23
     </td>
     <td>
      2
     </td>
    </tr>
    <tr>
     <td>
      12
     </td>
     <td>
      Jameson Williams
     </td>
     <td>
      WR
     </td>
     <td>
      23
     </td>
     <td>
      2
     </td>
    </tr>
    <tr>
     <td>
      13
     </td>
     <td>
      Bo Nix
     </td>
     <td>
      QB
     </td>
     <td>
      24
     </td>
     <td>
      1
     </td>
    </tr>
    <tr>
     <td>
      14
     </td>
     <td>
      Dylan Laube
     </td>
     <td>
      RB
     </td>
     <td>
      24
     </td>
     <td>
      1
     </td>
    </tr>
    <tr>
     <td>
      15
     </td>
     <td>
      Roman Wilson
     </td>
     <td>
      WR
     </td>
     <td>
      23
     </td>
     <td>
      1
     </td>
    </tr>
    <tr>
     <td>
      16
     </td>
     <td>
      Hunter Henry
     </td>
     <td>
      TE
     </td>
     <td>
      29
     </td>
     <td>
      1
     </td>
    </tr>
    <tr>
     <td>
      17
     </td>
     <td>
      Fred Warner
     </td>
     <td>
      LB
     </td>
     <td>
      27
     </td>
     <td>
      1
     </td>
    </tr>
    <tr>
     <td>
      18
     </td>
     <td>
      Jason Sanders
     </td>
     <td>
      K
     </td>
     <td>
      28
     </td>
     <td>
      1
     </td>
    </tr>
    <tr>
     <td>
      19
     </td>
     <td>
      Elijah Mitchell
     </td>
     <td>
      RB
     </td>
     <td>
      26
     </td>
     <td>
      1
     </td>
    </tr>
    <tr>
     <td>
      20
     </td>
     <td>
      Keaton Mitchell
     </td>
     <td>
      RB
     </td>
     <td>
      22
     </td>
     <td>
      1
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
     <td>
      <strong>
       Average Age
      </strong>
     </td>
     <td colspan="4">
      <strong>
       Total
      </strong>
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
     <td>
      25.15
     </td>
     <td>
      224
     </td>
    </tr>
   </tbody>
  </table>
 </body>
</html>
