<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Dye-Nasty League Salary Cap
  </title>
  <link href="{{ url_for('static', filename='jackson.css') }}" rel="stylesheet"/>
 </head>
 <body>
  <header>
   <h1>
    DYE-NASTY LEAGUE SALARY CAP
   </h1>
   <p>
    Breakdown of Jackson's team's salary cap.
   </p>
  </header>
  <main>
   <section class="teams">
    <div class="function-buttons">
     <a href="/">
      <button>
       Home
      </button>
     </a>
     <a href="../rawdata.html">
      <button>
       Raw Data
      </button>
     </a>
    </div>
    <h2>
     <i>
      <u>
       <b>
        Jackson's Team
       </b>
      </u>
     </i>
    </h2>
   </section>
  </main>
  <table>
   <thead>
    <tr>
     <th>
      Roster #
     </th>
     <th>
      Name
     </th>
     <th>
      Postion
     </th>
     <th>
      Age
     </th>
     <th>
      Value
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>
      1
     </td>
     <td>
      Dalton Kincaid
     </td>
     <td>
      TE
     </td>
     <td>
      24
     </td>
    </tr>
    <tr>
     <td>
      2
     </td>
     <td>
      Xavier Worthy
     </td>
     <td>
      WR
     </td>
     <td>
      21
     </td>
    </tr>
    <tr>
     <td>
      3
     </td>
     <td>
      Troy Franklin
     </td>
     <td>
      WR
     </td>
     <td>
      21
     </td>
    </tr>
    <tr>
     <td>
      4
     </td>
     <td>
      Keenan Allen
     </td>
     <td>
      WR
     </td>
     <td>
      32
     </td>
    </tr>
    <tr>
     <td>
      5
     </td>
     <td>
      Curtis Samuel
     </td>
     <td>
      WR
     </td>
     <td>
      28
     </td>
    </tr>
    <tr>
     <td>
      6
     </td>
     <td>
      Calvin Ridley
     </td>
     <td>
      WR
     </td>
     <td>
      29
     </td>
    </tr>
    <tr>
     <td>
      7
     </td>
     <td>
      Nick Chubb
     </td>
     <td>
      RB
     </td>
     <td>
      28
     </td>
    </tr>
    <tr>
     <td>
      8
     </td>
     <td>
      Daniel Carlson
     </td>
     <td>
      K
     </td>
     <td>
      29
     </td>
    </tr>
    <tr>
     <td>
      9
     </td>
     <td>
      Brian Burns
     </td>
     <td>
      DE
     </td>
     <td>
      26
     </td>
    </tr>
    <tr>
     <td>
      10
     </td>
     <td>
      Jordan Love
     </td>
     <td>
      QB
     </td>
     <td>
      25
     </td>
    </tr>
    <tr>
     <td>
      11
     </td>
     <td>
      DeVonta Smith
     </td>
     <td>
      WR
     </td>
     <td>
      25
     </td>
    </tr>
    <tr>
     <td>
      12
     </td>
     <td>
      Khalil Herbert
     </td>
     <td>
      RB
     </td>
     <td>
      26
     </td>
    </tr>
    <tr>
     <td>
      13
     </td>
     <td>
      Brock Purdy
     </td>
     <td>
      QB
     </td>
     <td>
      24
     </td>
    </tr>
    <tr>
     <td>
      14
     </td>
     <td>
      Jaylen Warren
     </td>
     <td>
      RB
     </td>
     <td>
      25
     </td>
    </tr>
    <tr>
     <td>
      15
     </td>
     <td>
      Aidan Hutchinson
     </td>
     <td>
      DL
     </td>
     <td>
      24
     </td>
    </tr>
    <tr>
     <td>
      16
     </td>
     <td>
      Rashid Shaheed
     </td>
     <td>
      WR
     </td>
     <td>
      25
     </td>
    </tr>
    <tr>
     <td>
      17
     </td>
     <td>
      Jahmyr Gibbs
     </td>
     <td>
      RB
     </td>
     <td>
      22
     </td>
    </tr>
    <tr>
     <td>
      18
     </td>
     <td>
      Bryce Young
     </td>
     <td>
      QB
     </td>
     <td>
      23
     </td>
    </tr>
   </tbody>
  </table>
 </body>
</html>
