<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Dye-Nasty League Salary Cap
  </title>
  <link href="{{ url_for('static', filename='julius.css') }}" rel="stylesheet"/>
 </head>
 <body>
  <header>
   <h1>
    DYE-NASTY LEAGUE SALARY CAP
   </h1>
   <p>
    Breakdown of julius' team's salary cap.
   </p>
  </header>
  <main>
   <section class="teams">
    <div class="function-buttons">
     <a href="/">
      <button>
       Home
      </button>
     </a>
     <a href="../rawdata.html">
      <button>
       Raw Data
      </button>
     </a>
    </div>
    <h2>
     <i>
      <u>
       <b>
        Julius' Team
       </b>
      </u>
     </i>
    </h2>
   </section>
  </main>
  <table>
   <thead>
    <tr>
     <th>
      Roster #
     </th>
     <th>
      Name
     </th>
     <th>
      Postion
     </th>
     <th>
      Age
     </th>
     <th>
      Value
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>
      1
     </td>
     <td>
      Rashee Rice
     </td>
     <td>
      WR
     </td>
     <td>
      24
     </td>
    </tr>
    <tr>
     <td>
      2
     </td>
     <td>
      Braelon Allen
     </td>
     <td>
      RB
     </td>
     <td>
      20
     </td>
    </tr>
    <tr>
     <td>
      3
     </td>
     <td>
      Brock Bowers
     </td>
     <td>
      TE
     </td>
     <td>
      21
     </td>
    </tr>
    <tr>
     <td>
      4
     </td>
     <td>
      Malachi Corley
     </td>
     <td>
      WR
     </td>
     <td>
      22
     </td>
    </tr>
    <tr>
     <td>
      5
     </td>
     <td>
      Adonai Mitchell
     </td>
     <td>
      WR
     </td>
     <td>
      21
     </td>
    </tr>
    <tr>
     <td>
      6
     </td>
     <td>
      Xavier Legette
     </td>
     <td>
      WR
     </td>
     <td>
      23
     </td>
    </tr>
    <tr>
     <td>
      7
     </td>
     <td>
      Jermaine Burton
     </td>
     <td>
      WR
     </td>
     <td>
      23
     </td>
    </tr>
    <tr>
     <td>
      8
     </td>
     <td>
      Luke McCaffrey
     </td>
     <td>
      WR
     </td>
     <td>
      23
     </td>
    </tr>
    <tr>
     <td>
      9
     </td>
     <td>
      Geno Smith
     </td>
     <td>
      QB
     </td>
     <td>
      33
     </td>
    </tr>
    <tr>
     <td>
      10
     </td>
     <td>
      Jake Elliott
     </td>
     <td>
      K
     </td>
     <td>
      29
     </td>
    </tr>
    <tr>
     <td>
      11
     </td>
     <td>
      Bobby Okereke
     </td>
     <td>
      LB
     </td>
     <td>
      28
     </td>
    </tr>
    <tr>
     <td>
      12
     </td>
     <td>
      Devin Singletary
     </td>
     <td>
      RB
     </td>
     <td>
      26
     </td>
    </tr>
    <tr>
     <td>
      13
     </td>
     <td>
      Quincy Williams
     </td>
     <td>
      LB
     </td>
     <td>
      27
     </td>
    </tr>
    <tr>
     <td>
      14
     </td>
     <td>
      Trevor Lawrence
     </td>
     <td>
      QB
     </td>
     <td>
      24
     </td>
    </tr>
    <tr>
     <td>
      15
     </td>
     <td>
      Javonte Williams
     </td>
     <td>
      RB
     </td>
     <td>
      24
     </td>
    </tr>
    <tr>
     <td>
      16
     </td>
     <td>
      Pat Freiermuth
     </td>
     <td>
      TE
     </td>
     <td>
      25
     </td>
    </tr>
    <tr>
     <td>
      17
     </td>
     <td>
      Chris Olave
     </td>
     <td>
      WR
     </td>
     <td>
      24
     </td>
    </tr>
    <tr>
     <td>
      18
     </td>
     <td>
      Kenneth Walker
     </td>
     <td>
      RB
     </td>
     <td>
      23
     </td>
    </tr>
    <tr>
     <td>
      19
     </td>
     <td>
      Puka Nacua
     </td>
     <td>
      WR
     </td>
     <td>
      23
     </td>
    </tr>
   </tbody>
  </table>
 </body>
</html>
