<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dye-Nasty League Salary Cap</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='rawdata.css') }}">
</head>
<body>
    <header>
        <h1>DYE-NASTY LEAGUE SALARY CAP</h1>
        <p>View all players' values below.</p>
    </header>

    <main>
        <section class="teams">
            <div class="function-buttons">
                <a href="/"><button>Home</button></a>
            </div>
            <h2><i><u><b>Players</b></u></i></h2>
        </section>
    </main>
</body>
</html>
