<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Dye-Nasty League Salary Cap
  </title>
  <link href="{{ url_for('static', filename='shapiro.css') }}" rel="stylesheet"/>
 </head>
 <body>
  <header>
   <h1>
    DYE-NASTY LEAGUE SALARY CAP
   </h1>
   <p>
    Breakdown of Shapiro's team's salary cap.
   </p>
  </header>
  <main>
   <section class="teams">
    <div class="function-buttons">
     <a href="/">
      <button>
       Home
      </button>
     </a>
     <a href="../rawdata.html">
      <button>
       Raw Data
      </button>
     </a>
    </div>
    <h2>
     <i>
      <u>
       <b>
        Shapiro's Team
       </b>
      </u>
     </i>
    </h2>
   </section>
  </main>
  <table>
   <thead>
    <tr>
     <th>
      Roster #
     </th>
     <th>
      Name
     </th>
     <th>
      Postion
     </th>
     <th>
      Age
     </th>
     <th>
      Value
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>
      1
     </td>
     <td>
      Jayden Reed
     </td>
     <td>
      WR
     </td>
     <td>
      24
     </td>
    </tr>
    <tr>
     <td>
      2
     </td>
     <td>
      Jake Moody
     </td>
     <td>
      K
     </td>
     <td>
      24
     </td>
    </tr>
    <tr>
     <td>
      3
     </td>
     <td>
      Jonathon Brooks
     </td>
     <td>
      RB
     </td>
     <td>
      21
     </td>
    </tr>
    <tr>
     <td>
      4
     </td>
     <td>
      Jalen McMillan
     </td>
     <td>
      WR
     </td>
     <td>
      22
     </td>
    </tr>
    <tr>
     <td>
      5
     </td>
     <td>
      Ladd McConkey
     </td>
     <td>
      WR
     </td>
     <td>
      22
     </td>
    </tr>
    <tr>
     <td>
      6
     </td>
     <td>
      Kimani Vidal
     </td>
     <td>
      RB
     </td>
     <td>
      22
     </td>
    </tr>
    <tr>
     <td>
      7
     </td>
     <td>
      Odell Beckham
     </td>
     <td>
      WR
     </td>
     <td>
      31
     </td>
    </tr>
    <tr>
     <td>
      8
     </td>
     <td>
      Ezekiel Elliott
     </td>
     <td>
      RB
     </td>
     <td>
      29
     </td>
    </tr>
    <tr>
     <td>
      9
     </td>
     <td>
      Tyreek Hill
     </td>
     <td>
      WR
     </td>
     <td>
      30
     </td>
    </tr>
    <tr>
     <td>
      10
     </td>
     <td>
      Chris Godwin
     </td>
     <td>
      WR
     </td>
     <td>
      28
     </td>
    </tr>
    <tr>
     <td>
      11
     </td>
     <td>
      James Conner
     </td>
     <td>
      RB
     </td>
     <td>
      29
     </td>
    </tr>
    <tr>
     <td>
      12
     </td>
     <td>
      Terry McLaurin
     </td>
     <td>
      WR
     </td>
     <td>
      28
     </td>
    </tr>
    <tr>
     <td>
      13
     </td>
     <td>
      Patrick Queen
     </td>
     <td>
      LB
     </td>
     <td>
      25
     </td>
    </tr>
    <tr>
     <td>
      14
     </td>
     <td>
      Jonathan Taylor
     </td>
     <td>
      RB
     </td>
     <td>
      25
     </td>
    </tr>
    <tr>
     <td>
      15
     </td>
     <td>
      Zack Moss
     </td>
     <td>
      RB
     </td>
     <td>
      26
     </td>
    </tr>
    <tr>
     <td>
      16
     </td>
     <td>
      Jalen Hurts
     </td>
     <td>
      QB
     </td>
     <td>
      26
     </td>
    </tr>
    <tr>
     <td>
      17
     </td>
     <td>
      Juwan Johnson
     </td>
     <td>
      TE
     </td>
     <td>
      27
     </td>
    </tr>
    <tr>
     <td>
      18
     </td>
     <td>
      Rico Dowdle
     </td>
     <td>
      RB
     </td>
     <td>
      26
     </td>
    </tr>
    <tr>
     <td>
      19
     </td>
     <td>
      Kyle Pitts
     </td>
     <td>
      TE
     </td>
     <td>
      23
     </td>
    </tr>
    <tr>
     <td>
      20
     </td>
     <td>
      Chuba Hubbard
     </td>
     <td>
      RB
     </td>
     <td>
      25
     </td>
    </tr>
    <tr>
     <td>
      21
     </td>
     <td>
      Josh Downs
     </td>
     <td>
      WR
     </td>
     <td>
      23
     </td>
    </tr>
    <tr>
     <td>
      22
     </td>
     <td>
      DeMario Douglas
     </td>
     <td>
      WR
     </td>
     <td>
      23
     </td>
    </tr>
   </tbody>
  </table>
 </body>
</html>
